@charset "utf-8";

body {
    background-image: radial-gradient(farthest-corner at -2% 25%, #92ACCE 0%, transparent 25%), radial-gradient(farthest-corner at 50% 230%, #C489BB 20%, transparent 50%);
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: auto;
    overflow-x: hidden;
}
.bt-secao {
    color: #1A4480;
    background-color: transparent;
    height: 50px;
    width: 100px;
    position: relative;
    transition: background-image 0.3s ease;
}

.bt-secao:hover {
    background-image: url("../../3_iso/img/painel_icone.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 40%;
}

.bt-secao.visited {
    background-image: url("../../3_iso/img/painel_icone.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 40%;
}

body {
    background-image: radial-gradient(farthest-corner at -2% 25%, #92ACCE 0%, transparent 25%), radial-gradient(farthest-corner at 50% 230%, #C489BB 20%, transparent 50%);
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: auto;
    overflow-x: hidden;
}

.game-titulo {
    background: #000 !important;
}

.card {
    color: #fff !important;
    background-color: #4ca49c !important;
    border: 1px solid #4ca49c !important;
}

figcaption {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-bullet {
    list-style-image: url(../images/marcador.png);
}

.tab-content {
    margin-bottom: 20px;
}

.espera {
    background-color: #92ACCE;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30vh;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

.painel-normas {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.painel-iso {
    background-image: url("../../3_iso/img/painel_bg.png");
    width: 441px;
    background-repeat: no-repeat;
    height: 501px;
    margin: auto;
}

.painel-iso button {
    display: flex;
    margin: auto;
    position: relative;
    right: -60px;
    top: 90px;
    margin-top: 5px;
}

.painel-iso a {
    text-decoration: none;
}

@media (max-width: 425px) {
            
        .ativHideMob{
           display: none; 
        }
    .painel-iso {
        background-image: unset;
        width: unset;
        background-repeat: unset;
        height: unset;
        margin: unset;
    }

    .painel-iso button {
        position: unset;
        right: unset;
        top: unset;
    }

}